<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>
<body>
    <%-  include('../partials/nav.ejs') %>
    
    <h1>OOPS! Voçê não é Admin!</h1>
    <br>
    <p><a href="/" class="gohome">HOME</a></p>

    <%-  include('../partials/footer.ejs') %>
</body>
</html>