<nav class="navigation">
    <div class="siteTitle">
        <a href="/"><h1>CulturaTix</h1></a>
        <p>Toda a sua cultura, hoje!</p>
    </div>
    
    <ul class="navigation">
        <li><a href="/">HOME</a></li>
        <% if (user) { %>
            <li>Bem-Vindo <%= user.username %></li>
            <li><a href="/auth/logout">LOG-OUT</a></li>
            <li><a href="/dashboard">DASHBOARD</a></li>
        <% } else { %>
            <li><a href="/auth/login">LOG-IN</a></li>
            <li><a href="/auth/register">REGISTER</a></li>
        <% } %>
    </ul>
</nav>