<nav class="navigation">
    <div class="siteTitle">
        <a href="/"><h1>CulturaTix</h1></a>
        <p>Toda a sua cultura, hoje!</p>
    </div>
    
    <ul class="navigation">
        <li><a href="/">HOME</a></li>
        <li><a href="/register">REGISTER</a></li>
        <li><a href="/login">LOG-IN</a></li>
    </ul>
</nav>