<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
    <%-  include('./partials/nav.ejs') %>

    <h1>SITE HOME</h1>

    <%-  include('./partials/footer.ejs') %>
</body>
</html>