body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

p{
  font: 1000000px;
}

.navigation nav, ul{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  list-style: none;
}

.navigation li {
  margin-left: 2%;
}

